body {
    background-color: #fff;
    font-size: 16px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container {
    background-color: #cdc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/*/  Estilos piano //TODO: A retirar  /*/
/* #piano {
    position: relative;
    width: 350px;
    height: 150px;
    display: flex;
  }
  
  .white-key {
    width: 50px;
    height: 150px;
    background: white;
    border: 1px solid black;
    position: relative;
  }

  .white-key:hover {
    background: lightblue;
  }
  
  .black-key {
    width: 30px;
    height: 90px;
    background: black;
    position: absolute;
    z-index: 100;
  }

  .black-key:hover {
    background: lightblue;
  }
  
  #C\# { left: 35px; }
  #D\# { left: 85px; }
  #F\# { left: 185px; }
  #G\# { left: 235px; }
  #A\# { left: 285px; }
   */
/*/ --- /*/